[defaults]
inventory  = hosts
remote_user = appuser
private_key_file = ~/.ssh/appuser
roles_path = ./roles

[ssh_connection]
pipelining = true
retries    = 5
ssh_args   = -o ControlMaster=auto -o ControlPersist=5m -o ConnectTimeout=60 -o ConnectionAttempts=20
